* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: url(https://images.unsplash.com/photo-1541941299028-831a15e6a4dd?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 100px;
}
.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 3;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
}

.brand {
  font-size: 2.5rem;
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid #fff;
  height: 70%;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.midBtn {
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}

.query {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  color:#fff
}

.query>img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide {
  padding: 2rem;
}

.listItems {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.listItems:hover{
  background-color: #ffffff;
  color: #000000;
}

.listItemsImg {
  margin: 1rem;
  padding-right: 1rem;
}

.listItems:nth-child(1)>.listItemsImg {
  margin-right: 0.5 rem;
}

.listItems:nth-child(3)>.listItemsImg {
  margin-right: 0.5 rem;
}

#user-deer {
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

#deergpt {
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.main {
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  background-color: transparent;
  border-radius: 15px;
}

.chats {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100rem;
  height: calc(100vh - 17rem)
}

.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.bot {
  background: rgba(233, 233, 233, 0.5);
  border-radius: 0.5rem;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 100rem;
  border:3px solid #fff;
}

.inp>input{
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: #fff;
}

.inp>input, .send{
  background: transparent;
  border: none
}